/vendor/
.vscode/
composer.lock
.env
*/storage/views/*.php
*/storage/views/*.json
src/public/assets/*
framework/Assets/Javascript/reactive-prev.js
framework/Assets/Javascript/reactive-prev.js.bak
framework/Assets/Javascript/reactive.js.bak
CLAUDE.md
