# Application settings
APP_NAME=phpmvc

# Database settings
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=phpmvc
DB_USERNAME=root
DB_PASSWORD=
PLURALIZE_TABLE_NAMES=true # opcional default true | false
LOCALE=es # opcional default en | es
TABLE_PK_SUFFIX=modelname # opcional, modelname | MODELNAME | model_name | MODEL_NAME | modelName | ModelName
TABLE_PK_PREFFIX=modelname # opcional, modelname | MODELNAME | model_name | MODEL_NAME | modelName | ModelName

# View settings
VIEW_CACHE_ENABLED=true # optional default true | false

# SMTP settings
SMTP_USERNAME=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=
